<form action="/images?product_id=<%=params[:product_id]%>" method="post">

  URL: <input type="text" name="url" value=""><br>
  <input type="submit" value="Add Image"> <a href="/products/<%= params[:product_id] %>">Cancel</a>
  
</form>